<% provide(:title, 'Contact Me') %>
  <body>
      <div class="featurette">
        <img class="featurette-image pull-right" <%= image_tag("Joe Circle.JPG", alt: "")%>
			<h1>Lets Get In Touch</h1>
			<p>Need someone to listen to your story? Share your story with me!</p>
        <p class="lead">I am always interested to hear from anyone who wishes to get in touch with me...whether it's a questions about SharePoint, or just to say 'Hello'. Drop me a line!</p> </br> </br> 
      </div>
	  
	  <div>
	  <%= link_to image_tag("Social Media/linkedin-icon.png", alt: ""), "http://www.linkedin.com/in/josephcarlson3" %>
	  <%= link_to image_tag("Social Media/flikr-icon.png", alt: ""), "https://secure.flickr.com/photos/josephcarlson1/" %>
	  <%= link_to image_tag("Social Media/mail-icon.png", alt: ""), "joe.carlson@rbaconsulting.com" %>
	  <%= link_to image_tag("Social Media/twitter-icon.png", alt: ""), "https://twitter.com/nostromosaurus" %>
	  <%= link_to image_tag("Social Media/google-icon.png", alt: ""), "https://plus.google.com/102160279373578830880/posts?hl=en&tab=XX&authuser=0" %>
	  <%= link_to image_tag("Social Media/facebook-icon.png", alt: ""), "https://www.facebook.com/joe.carlson3" %>
	  <%= link_to image_tag("Social Media/lastfm-icon.png", alt: ""), "http://www.last.fm/user/Hells_Satans" %>
	  </div>
  </body>
</html>