<!-- MAIN IMAGE SECTION -->
<div id="homeheaderwrap">
  <div class="row" style="margin-right:0;">
    <div class="col-lg-8 col-lg-offset-2">
      </br>
      <h2>You can</h2>
      <h1>Call Me Joe</h1>
      <div class="spacer"></div>
      <i class="fa fa-angle-down"></i>
    </div>
  </div><!-- row -->
</div><!-- /headerwrap -->
</br>

<div id="white">
  <div class="container" style="margin-top: 2%; margin-bottom: 3%"> 
    <h3 pull-left>Call Me Joe is the personal blog and web design playground for Minneapolis based web developer, SharePoint consultant, tech junkie, and photographer, Joe Carlson.</h3> </br>
  </div><!-- /container -->
</div> <!-- /white -->



<!-- Most recent posts -->
<div id="black">
<div class="container">
  <div class="row">
    <h1>most recent posts</h1>
  </div>

  <% @posts.each do |post| %>
    <div class="col-lg-4">
      <%= link_to post do %>
       <div class="blog-homepage-image img-circle centered" style='background-image: url(<%=post.image_url %>); margin-left: auto; margin-right: auto;'>
        <h1><%= link_to post.title, post %></h1>
       </div>
      <% end %>

      <div class="timestamp" style="font-style:italic;"> 
        Posted <%= time_ago_in_words(post.created_at) %> ago.
      </div> </br>

      <p><%= truncate post.content, length: 200, separator: ' '  %></p>

      <h4><strong><%= link_to 'Read More', post, class: 'btn btn-large btn-primary' %></strong></h4>
  </div>
  <% end %>

</div> <!-- Most recent posts -->
</div> <!-- black -->



  <div id="white" style="padding-top: 5%; padding-bottom: 5%">
    <div class="container">
      <div class="row">
        <h1>my work</h1>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <% if signed_in? %>
            <%= link_to image_tag("http://i.imgur.com/lLzlHa7.png", alt: ""), "/microposts"%>
          <% else %>
            <%= link_to image_tag("http://i.imgur.com/lLzlHa7.png", alt: ""), "/users"%>
          <% end %> 
        </div>
        <div class="col-lg-6 col-lg-offset-1">
          <h3>twitter clone</h3>
          <p><more>My Twitter app is a proof of concept of some of the work I have been recently studying. Just like with real Twitter, you can follow/unfollow users, compose “tweets,” browse your Twitter feed, update your profile settings, manage your posts, and much more! I'd recommend creating an account, following some other users, and tweeting!<br/><br/>

          <% if signed_in? %>
            <p><a> <%= link_to "Take me there!", "/microposts", class: "btn btn-black btn-lg" %></a></p>
          <% else %>
            <p><a> <%= link_to "Take me there!", "/users", class: "btn btn-black btn-lg" %></a></p>
          <% end %> 
        </div>
      </div>
    </div>
  </div><!-- row -->
</div><!-- /headerwrap -->
