<% provide(:title, "Sign in") %>

<div id="fullscreen_bg" class="fullscreen_bg"/>
</br></br></br></br></br></br></br></br></br>
<h1 class="form-signin-heading text-muted">Sign in</h1>

<div class="container">
  <div class="form-signin" style="">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.text_field :email, :placeholder => "Email Address"%>
        <%= f.password_field :password, :placeholder => "Password" %>

        <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
    <p style="color: white;">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  </br></br></br></br></br></br></br></br></br>
</div>


