<% provide(:title, "Edit user") %>
<div class="container">

	<h1>Update your profile</h1>

	<div class="row">
	  <div class=".col-md-6 offset3">
	    <%= form_for(@user) do |f| %>
	      <%= render 'shared/error_messages', object: f.object %>
	      <%= render 'fields', f: f %>
	      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	    <% end %>
        </br>
	    <%= gravatar_for @user %>
	    <a href="http://gravatar.com/emails">change your profile picture here</a>
	  </div>
	</div>
</div>
