<% provide(:title, 'Blog') %>

<% @post.each do |post| %>
<div class="blog-full-width-post-header-index-image" style='background-image: url(<%=post.image_url %>);'>
  <h1><%= link_to 'blog posts', '/posts' %></h1>
</div><!-- /full-width-image-1 -->
   <div class="container" style="margin-bottom: 2%;">
   <div class="row">
	  <div class="col-lg-12 section">
	    <h1 style="color:black;"><%= link_to post.title, post %></h1>
	    <div class="timestamp"> 
		  Posted <%= time_ago_in_words(post.created_at) %> ago.
		</div> </br>
	    <p class="lead section-lead"><%= truncate post.content, length: 500, separator: ' '  %></p>
		</br>
		<h4><strong><%= link_to 'Read More', post, class: 'btn btn-large btn-primary' %></strong></h4>
	  </div>
   </div> <!--row-->
</div>
<% end %>

<% @posts.each do |post| %>
   <%= render post %>
<% end %>

<div class="container">
<%= will_paginate %>
</div>
<br/>

<div class="container">
<p>
	<% if current_user && current_user.admin? %>
		<%= link_to 'New Post', new_post_path %>
	<% end %>
</p>
</div.

