<% provide(:title, @post.title) %>
<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51d3ad7a6af77e84"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'right',
      'numPreferredServices' : 5
    },  
    'whatsnext' : {},  
    'recommended' : {} 
  });
</script>
<!-- AddThis Smart Layers END -->

<p id="notice"><%= notice %></p>
 
	<div class="row">
	  <div class=".col-md-8">
		<div class="row">
		  <div class=".col-md-8">
			<h4><strong><%= @post.title %></strong></h4>
		  </div>
		</div>
		<div class="row">
		  <div class=".col-md-8">
			<p></p>
			<p>
			  <i class="icon-user"></i> by Joe Carlson </br>
			  <.col-md- class="timestamp"> Posted <%= time_ago_in_words(@post.created_at) %> ago.
			  </.col-md->
			</p>
		  </div>
		</div>
		<div class="row">
		  <div class=".col-md-2">
			<a href="#" class="thumbnail">
				<%= image_tag @post.image_url %>
			</a>
		  </div>
		  <div class=".col-md-6">      
			<p>
			  <%= @post.content.gsub(/\n/, '<br/>').html_safe %>
			</p>
		  </div>
		</div>
		<div class="row">
		  <div class=".col-md-8">
			<p></p>
			<p>
				<% if current_user && current_user.admin? %>
					<%= link_to "Delete", @post, method: :delete, data: { confirm: "You sure?" } %>
					<%= link_to 'Edit', edit_post_path(@post) %></td>
				<% end %>
			</p>
		  </div>
		</div>
	  </div>
	</div>

<%= link_to 'Back to Posts', posts_path %>