<% provide(:title, @post.title) %>
<!-- Blog Posts on Page -->

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51d3ad7a6af77e84"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'right',
      'numPreferredServices' : 5
    },  
    'whatsnext' : {},  
    'recommended' : {} 
  });
</script>
<!-- AddThis Smart Layers END -->

<div class="blog-full-width-post-image" style='background-image: url(<%=@post.image_url %>); '>
</div>

<div>
	<div class="container">
	   <div class="row">
		  <div class="col-lg-12 section">
		    <h1><%= @post.title %></h1>
		    <i class="icon-user"></i> by Joe Carlson </br>
			<div class="timestamp"> 
			  Posted <%= time_ago_in_words(@post.created_at) %> ago.
		    </div> </br>
		    <p class="lead section-lead">
		      <%= @post.content.gsub(/\n/, '<br/>').html_safe %>
			</p>
			</br>
		  </div>
	   </div> <!--row-->
	</div>

	<div class="container">
	  <% if current_user && current_user.admin? %>
		<%= link_to "Delete", @post, method: :destroy, data: { confirm: "You sure?" } %>
		<%= link_to 'Edit', edit_post_path(@post) %></td>
	  <% end %>
	  <%= link_to 'Back to Posts', posts_path %>
	</div>
</div>
