<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!--Sets Metadata-->
    <%= display_meta_tags %>

    <%= favicon_link_tag '/favicon.ico'%>
    <script type="text/javascript" src="//dl1d2m8ri9v3j.cloudfront.net/releases/1.2.1/tracker.js" data-customer="b138e6102e0245908f0261acd76755d8"></script>

    <link rel="author" href="https://plus.google.com/u/0/+JoeKarlsson/posts"/>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Oswald:400,300,700">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!--Recognizes mobile devices-->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

    <!--Google Translate https://translate.google.com/manager-->
    <meta name="google-translate-customization" content="5b9be33a7aacbb7-bad5e9e7aa8d26b1-g938f85f48076d2a6-11"></meta>

    <!--CKEditor-->
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!--Google analytics-->
    <%= render 'layouts/ga' %>

    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>

</html>